body {
    background-color: #212529 !important;
    line-height: 2 !important;
}

@media (max-width:767.98px){
    .icon {
        margin: 10px 15px !important;
    }

    .pt-small {
        padding-top: 15px !important;
    }

    #fullAlbumButton {
        margin: 15px auto;
    }

}
@media (min-width:768px){
    .nav-link {
        padding:.5rem 2rem !important;
    }

    .icon {
        display: flex;
        align-items: right;
    }
}

.nav-link {
    font-size: large;
}

.jumbotron {
    padding: 8em;
    background-image: url(img/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.jumbotron h1 {
    font-size: 48pt;
}

.fit-image {
    width: 100%;
    object-fit: cover;
}

.icon {
    max-width: 30px;
    max-height: 30px;
    margin: 15px auto;
}

.footerLinks {
    list-style-type: none;
}

.copyright-footer {
    color: #afafaf;
    font-size: 0.75rem;
}